<%= form_tag events_path, :method => :get do %>
  <%= text_field_tag "keyword" %>
  <%= submit_tag "Search" %>
<% end %>
<ul>
<% @events.each do |event| %>
  <li>
 	  <%= event.name %>
 	  <%= event.description %>
    <%= link_to 'Show', event_path(event) %>
    <%= link_to 'Edit', edit_event_path(event) %>
    <%= link_to 'attendees', event_attendees_path(event) %>
    <%= link_to 'location', event_location_path(event) %>
    <%= link_to 'Dashboard', dashboard_event_path(event) %>
    <%= button_to 'Delete', event_path(event), :method => :delete, :data => { :confirm => "Are you sure?" } %>
  </li>
<% end %>
</ul>
<%= button_to "Delete All", bulk_delete_events_path, :method => :post, :data => { :confirm => "Are you sure?" } %>
<%= link_to 'New Event', :controller => 'events', :action => 'new' %>
<%= link_to 'Latest Event', :controller => 'events', :action => 'latest' %>
<%= paginate @events %>